<style>
  #header {margin: 0px; padding: 0px; background: #0078bf; height: 60px; font-size: 20px; text-align: center; width: 700px; }
</style>
<div id="header"><div class="center" style="width: 250px; color: white">TW Software Manager</div></div>
