<div class="software-list-page">
  <%= form_tag('', method: :get, class: 'search-software form form-horizontal') do %>
      <div class="input-group search-input">
        <input type="text" class="form-control" name="q" value="<%= params[:q] %>"/>

      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
      </div>

  <% end %>

  <div>
    <% if @softwares.count > 0 %>
        <ul class="download-list">
          <% @softwares.each do |software| %>
              <li class="list-item">
                <%= render partial: 'softwares/software_item', locals: {software: software} %>
              </li>
          <% end %>
        </ul>
        <div class="pagination-menu">
        <%= will_paginate @softwares, renderer: BootstrapPagination::Rails %>
        </div>
    <% else %>
        <div class="alert alert-warning">
          <i class="glyphicon glyphicon-exclamation-sign"></i><span>No softwares found</span></div>
    <% end %>
  </div>
</div>