/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#container {
  background: #f2f2f2;
  height: 100%;
  overflow-y: scroll;
}

#body {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: white;
  min-height: 400px;
}

.page {
  padding: 10px;
}

.btn {
  i {
    margin-right: 10px;
  }
}

#footer {
  height: 50px;
  margin: 0 auto;
  width: 1000px;

  .info {
      text-align: center;
      margin-top: 20px;
      color: #bbb;
  }
}

.page-header {
  margin: 0px;
  padding: 0px;
  background: #0078bf;
  height: 60px;

  .logo {
    display: inline-block;

    div {
      text-align: center;
      text-decoration: none;
      color: #ddd;
    }

    div:first-child {
      font-size: 2em;
      color: white;
      margin: 0;
      padding: 0;
      line-height: 1em;
      margin-top: 6px;
    }

  }

  .links {
    color: white;
    position: absolute;
    right: 50%;
    top: 37px;

    a{
      color: white;
    }
  }

  .header-user {
    width: 190px;
    position: absolute;
    right: 5px;
    color: white;
    top: 17px;

  }
}

.widget-container {
    padding: 10px;
    font-family: "Open Sans" sans-serif;
    .widget-container-header {
        height: 37px;
        font-size: 20px;
    }
}
.widget {
    display: inline-block;
    background: #468FE0;
    color: white;
    margin: 4px;
    cursor: pointer;
    border: 1px solid white;
    
    &:hover {
        text-decoration: none;
        color: white;
        border: 1px solid #386DA8;
    }
    
    &.widget-small {
        min-width: 150px;
        height: 150px;
        
        .widget-main-area {
            font-size: 5em;
            text-align: center;
            padding: 0 10px;
        }
        
        .widget-footer {
            text-align: center;
            font-size: 1.4em;
        }
    }
}

.alert-warning {
  i {
    margin-right: 10px;
  }
}

.alert {
  width: 90%;
  margin: 10px auto;
}

table {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #eee;
  th {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
}

#unauthorized {
  div i {
    font-size: 30em;
    text-align: center;
    width: 100%;
  }

  .text {
    text-align: center;
    font-size: 4em;
    font-family: 'open sans' sans-serif;
  }
}