// Place all the styles related to the softwares controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.software-list-page {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: white;

  .search-software {
    width: 700px;
    margin: 30px auto;
  }

  .alert-warning {
    i {
      margin-right: 10px;
    }
  }
}

.download-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 1000px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  .software-item {
    font-family: "Open Sans", sans-serif !important;
    margin: 10px;
    padding: 0 10px;
    overflow: hidden;
    height: 90px;
    border-bottom: 1px solid #eee;

    .body {
      width: 800px;
      float: left;
      position: relative;
      height: 100%;

      .sub-header {
        position: absolute;
        bottom: 5px;
        .label {
          color: #999;
          padding: 0 7px;
          border-right: 1px solid #aaa;
          font-size: 13px;

          &:last-child {
            border-right: none;
          }
        }
      }
      .header {
        overflow: hidden;
        line-height: 27px;
        margin-top: 5px;

        .title {
          font-size: 28px;
          font-weight: 300;
          a {
            color: #555;
            &:hover {
              text-decoration: none;
              opacity: 0.9;
            }
          }
        }

        .edit {
          font-size: 19px;
          margin-left: 10px;

          a {
            color: #ddd;
            &:hover {
              color: #888;
            }
          }

        }
      }

    }

    .right {
      width: 150px;
      float: left;
      padding-left: 21px;
      border-left: 1px solid #eee;
      height: 80px;

      .btn {
        width: 130px;
        margin-bottom: 10px;

        i {
          margin-left: 10px;
        }
      }
    }

  }
}